:root {
    --primary-color: #5F8DA5;
    --background-color: #e1e7f1;
    --note-text-color:rgb(158, 158, 158);
    --red-color: #ff0000;
    --blue-color: #4382ca;
    --orange-color: #ff8800;
    --green-color: #33b3b3;
    --white-color: #fff;
    --border-radius: 10px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
}


.main {
    padding: 30px 20px;
}

.pd-section {
    padding: 25px 0px;
}

.title-heading {
    color: var(--primary-color);
    padding-bottom: 8px;
}

.btn {
    border: none;
}

.nav-icon {
    color: var(--primary-color);
    display: inline-block;
    font-size: 24px;
}

.modal-btn {
    background-color: var(--primary-color);
    color: var(--white-color);
    font-size: 16px;
    border: none;
    height: 40px;
    width: 48%;
    cursor: pointer;
    border-radius: var(--border-radius);
}


@keyframes increase {
    from {
        opacity: 0;
        width: 0%;            
    }    
    to {
        opacity: 1;
        width: 48%;   
    }
}

@keyframes growth {
    from {
        opacity: 0;
        height: calc(var(--percent) - 50%);
    }
    to {
        opacity: 1;
        height: var(--percent);
    }
}


@keyframes slideIn {
    0% {
        transform: translateX(0px) scale(.2);
    }
    100% {
        transform: translateX(0px) scale(1);
    }
}

@keyframes slideDown {
    0% {
      transform: translateY(-500px);
    }
    100% {
      transform: translateY(0px);
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(500px);
    }
    100% {
        transform: translateY(0px);
    }
}

@keyframes slideDisappear {
    100% {
        transform: translateY(0px);
    }
    0% {
        transform: translateY(500px);
    }
}


@keyframes slideDiagonal {
    0% {
        transform: translateX(200px) translateY(200px);
    }
    100% {
        transform: translateX(0px) translateY(0px);
    }
}

