* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.mobile-screen {
    width: 100%;
    margin: 0;
    background-color: #e1e7f1;
}

/* header */
.header-btn {
    border-radius: var(--border-radius);
}
.notification-btn {
    margin-left: 10px;
}
.header-nav {
    display: flex;
    justify-content: flex-start;
}

.header-icon {
    background-color:var(--white-color) ;
    border-radius: var(--border-radius);
    padding: 10px;
}

.date-text {
    color: var(--primary-color);
    font-weight: 600;
    margin: auto;
}

/* content */
/* statistic */
.statistic-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.statistic-list + .statistic-list {
    padding-top: 10px;
}

.statistic-item {
    border-radius: var(--border-radius);
    padding: 24px 20px;
    width: 48%;
    animation: increase ease-in 0.4s forwards;
}

.statistic-block {
    text-decoration: none;
    color: var(--white-color);
    display: flex;
    flex-flow: row;
}

.statistic-icon {
    font-size: 24px;
    padding-right: 10px;
}
.statistic-number {
    font-size: 24px;
    font-weight: 600;
}

.statistic-completed {
    background-color:  var(--green-color);
}

.statistic-pending {
    background-color: var(--orange-color);
}

.statistic-canceled {
    background-color: var(--red-color);
}

.statistic-ongoing {
    background-color: #3fadd8;
}

.statistic-name {
    color: #B4C6E3;
    font-size: 14px;
}

/* tasks */
.home-task {
    height: 320px;
    padding-top: 25px;
    animation: slideDiagonal ease-in 0.4s forwards;
}
.tasks-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.tasks-view-all-btn {
    text-decoration: none;
    color: var(--blue-color);
    font-weight: 600;
}

.scrollbar-home {
    width: 100%;
	float: left;
	height: 222px;
	overflow-y: scroll;
}
.scrollbar-home::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgb(95, 141, 165, 0.4);
    border-radius: var(--border-radius);
	border: 1px solid rgb(95, 141, 165, 0.5);
	background-color: #F5F5F5;
}

.scrollbar-home::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}
.scrollbar-home::-webkit-scrollbar-thumb
{
    border-radius: 10px;
	background-color: var(--primary-color);	
    height: 50px;
}
.scroll-none::-webkit-scrollbar {
    display: none;
}
.tasks-item {
    color: var(--primary-color);
    list-style: none;
    display: flex;
    height: 55px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    
}
.task-item__icon {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.tasks-item__done {
    position: relative;
}
.task-circle-icon {
    font-size: 24px;
}
i.task-done-icon {
    position: absolute;
    font-size: 24px;
    color: var(--green-color);
    display: none;
}

.tasks-item__done .task-done-icon {
    display: block;
}

.tasks-item__done .task-circle-icon {
    display: none;
}

.task-name {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 40px);
    align-items: center;
    padding-left: 12px;
}

.task-label {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.tasks-item__done .task-name {
    width: calc(100% - 16px);
    padding-left: 36px;
    color: var(--note-text-color);
    
}
.tasks-item__done .task-label {
    text-decoration: line-through;
}
#home.hide {
    display: none;
}

/* footer */

/* CHART */
#chart {
    display: none;
}

#chart.open {
    display: block;
}

.chart-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 0px;
}

.chart-section {
    position: relative;
    width: calc(50% - 10px);
    background-color: var(--white-color);
    padding: 20px;
    border-radius: var(--border-radius);
}
.chart-header {
    transform: translateY(0px);
    animation: slideUp .5s ease-in-out forwards;
}

.chart-note {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    padding-top: 10px;
    animation: slideIn ease 0.5s forwards;
}

.circle-icon {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    content: "";
}
.low-icon {
    background-color: var(--orange-color);
}

.medium-icon {
    background-color: #3fadd8;
}

.high-icon {
    background-color: var(--red-color);
}

.note-activity {
    font-size: 12px;
    color: var(--note-text-color);
}
.chart-content {
    padding: 5px;
}
.chart-number {
    padding: 5px 0px; 
}

.chart-number-5 {
    display: flex;
    flex-flow: row;
}
.note-icon {
    color: var(--note-text-color);
    padding-left: 15px;
    font-size: 12px;
}

.chart-label-col {
    color: var(--note-text-color);
    font-size: 12px;
    font-weight: 600;
}
.chart-info {
    color: var(--note-text-color);
    font-size: 14px;
}

.chart-layout {
    background-color: var(--white-color);
    border-radius: var(--border-radius);
    border: 1px solid var(--primary-color);
    height: 200px;  
    margin-top: 15px;
    animation: slideIn ease 0.5s forwards;
}
  
.chart-item-section {
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
    height: 150px;
}
.chart-item {
    width: 25px;
    height: var(--percent);
    background-color: #80c6e2;
    align-self: flex-end;
    border-radius: 5px;
    text-align: center;
    animation: growth ease 0.5s forwards 0.3s;
}

.chart-date-section {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

.chart-date {
    color: var(--note-text-color);
    font-size: 12px;
    font-weight: 600;
}

.text-finish-percent{
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

#myCanvas {
    display: flex;
    margin: auto;
    animation: slideUp ease-in 0.3s forwards;
}

.text-finish-number {
    position: absolute;
    text-align: center;
    top: 160px;
    right: calc(50% - 45px);
}

.fire-icon {
    color: var(--red-color);
    font-size: 40px;
}

.finish-number {
    font-size: 40px;
    padding-top: 20px;
    font-weight: 600;
}

.text-note {
    font-size: 20px;
    padding-top: 10px;
}

.tag-content {
    list-style: none;
}

.tag-item {
    font-size: 20px;
    padding: 10px;
}

.tag-item a {
    background-color: var(--background-color);
    padding: 5px;
    border-radius: var(--border-radius);
    color: var(--primary-color);
    text-decoration: none;
}

/* setting */
#setting {
    display: none;
}

#setting.open {
    display: block;
}
.setting-wrap {
    display: flex;
    height: 700px;
}
.setting-nav {
    width: 160px;
}

.setting-list {
    list-style: none;
}

.setting-item {
    border-radius: var(--border-radius);
}

.setting-item a {
    padding: 15px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.setting-item__text {
    color: var(--primary-color);
    font-size: 17px;
    padding-left: 10px
}

.setting-item:hover {
    cursor: pointer;
    background-color: var(--white-color);
}

.setting-content {
    background-color: var(--white-color);
    height: 700px;
    width: 100%;
    margin-left: 20px;
    border-radius: var(--border-radius);
}

/* TASK */
#task {
    display: none;
}

#task.open {
    display: block;
}

.calendar-week {
    max-width: 100%;
    overflow-x: auto;
    display: flex;
    flex-flow: row;
    animation: slideDown ease-in 0.4s forwards;
}

.calendar-week::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgb(95, 141, 165, 0.4);
    border-radius: var(--border-radius);
	border: 1px solid rgb(95, 141, 165, 0.5);
	background-color: #F5F5F5;
}

.calendar-week::-webkit-scrollbar
{
    
	height: 5px;
	background-color: #F5F5F5;
}
.calendar-week::-webkit-scrollbar-thumb
{
    border-radius: 10px;
	background-color: var(--primary-color);	
}


.day-btn {
    text-transform: uppercase;
    border: none;
    height: 48px;
    min-width: 38px;
    background-color: var(--white-color);
    color: var(--note-text-color);
    font-weight: 600;
    border-radius: var(--border-radius);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0px calc(calc(100%-376px)/18);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.day-btn:first-child {
    margin-left: 10px;
}

.clear-btn-wrap {
    display: flex;
    justify-content: flex-end;
}
button.clear-all-btn {
    width: fit-content;
    padding: 5px 10px;
    margin: 10px 0px;
}
button.clear-all-btn i {
    padding-right: 5px;
}

.task-body-wrapper {
    width: 100%;
	float: left;
	height: 420px;
	overflow-y: scroll;
}

.task-body-wrapper::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgb(95, 141, 165, 0.4);
    border-radius: var(--border-radius);
	border: 1px solid rgb(95, 141, 165, 0.5);
	background-color: #F5F5F5;
}

.task-body-wrapper::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}
.task-body-wrapper::-webkit-scrollbar-thumb
{
    border-radius: 10px;
	background-color: var(--primary-color);	
}

.work-list {
}
.work-time-section-wrap {
    position: relative;
}
.work-time-section {
    display: flex;
    flex-flow: row;
    height: 160px;
    padding: 20px 0px;
}

.work-time-section::before {
    position: absolute;
    content: "";
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
    color: var(--blue-color);
    left: 0;
    transform: translateY(140px);
}

.work-time-section::after {
    position: absolute;
    content: "";
    border-width: 0.5px;
    border-style: solid;
    width: calc(100% - 5px);
    color: var(--blue-color);
    background-color: var(--blue-color);
    left: 5px;
    transform: translateY(145px);
}

.work-time-section:last-child::before,
.work-time-section:last-child::after  {
    border:none;
}
.work {
    display: flex;
    overflow: hidden;
    background-color: var(--white-color);
    border-left: 6px solid var(--primary-color);
    border-radius: var(--border-radius);
    padding: 12px 0px 12px 15px;
    flex: 1;
    margin-left: 10px;
    animation: slideUp ease-in 0.4s forwards;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    justify-content: space-between;
}

.work-content {
    flex: 1;
    padding-right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.work-priority {
    text-transform: uppercase;
    background-color: #a8ebeb;
    color: var(--green-color);
    font-size: 12px;
    width: fit-content;
    font-weight: 600;
    margin-bottom: 6px;
}

.work-name {
    font-size: 16px;
    line-height: 18.5px;
    max-height: 37px;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    word-break: break-word;

}

.work-status {
    color: var(--note-text-color);
    font-size: 12px;
    font-weight: 600;
    margin-top: 8px;
}

.work-time {
    font-size: 13px;
    display: none;
}
.function-list {
    display: flex;
    flex-direction: column;
}

button.function-icon {
    color: var(--primary-color);
    background-color: var(--white-color);
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    display: none;
}

.work:hover {
    position: absolute;
    width: 100%;
    right: 0px;
}

.work:hover button.function-icon {
    display: block;
}

.work:hover .work-time {
    display: block;
}

.work:hover .work-status {
    margin: 0;
}
.work:hover .work-name {
    max-height: 55.5px;
    -webkit-line-clamp: 3;
}

/* status dialog */
.task-status-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.task-status-container.open {
    display: flex;
}

.task-btn-status {
    position: relative;
    background-color: var(--background-color);
    transform: translateY(-2px);
    border-radius: var(--border-radius);
    box-shadow: 0px 0 6px rgba(0, 0, 0, 0.2);
}

.task-status-body {
    padding: 15px;
}

.task-btn-wrapper {
    display: flex;
    align-items: center;
    padding: 5px 8px;
}

.task-status-text {
    padding-bottom: 5px;
}
.task-label-btn {
    font-size: 17px;
    padding-left: 10px;
    font-weight: 600;
}
.task-empty-icon {
    color: var(--primary-color); 
    font-size: 30px;
}

i.task-tick-icon {
    font-size: 30px;
    display: none;
}

.tick-complete, .complete-label-btn {
    color: var(--green-color);
}

.tick-ongoing, .ongoing-label-btn {
    color: var(--blue-color);
}

.tick-pending, .pending-label-btn {
    color: var(--orange-color);
}

.tick-cancel, .cancel-label-btn {
    color: var(--red-color);
}

.task-tick .task-empty-icon {
    display: none;
}

.task-tick .task-tick-icon {
    display: block;
}

input[type=checkbox] {
    position: relative;
    cursor: pointer;
    width: 18px;
    height: 18px;
    border-color: var(--primary-color);
}

/* ADD SCREEN */
.footer-add {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(0,0,0,0.3);
    align-items: center;
    justify-content: center;
    display: none;
}

.footer-add.open {
    display: flex;
}


.add-modal {
    background: var(--white-color);
    width: 60%;
    position: relative;
    animation: slideUp ease 0.8s;
    border-radius: var(--border-radius);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    overflow: hidden;
}

.add-modal__header {
    background: var(--primary-color);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white-color);
}
.header-edit {
    display: none;
}
.add-modal__header-edit .header-edit {
    display: block;
}

.add-modal__header-edit .header-add {
    display: none;
}
.add-modal__body {
    padding: 20px;
}

.add-modal__heading {
    padding: 10px 0px;
    color: var(--primary-color);
}

.add-modal__time-date {
    display: flex;
    align-items: center;
    position: relative;
}

.add-modal__time-btn {
    position: absolute;
    left: 210px;
    pointer-events: none;
    background-color: var(--white-color);
    border: none;
}

.add-modal__time-hour {
    display: flex;
    flex-direction: column;
}

.add-modal__time-hour-section {
    display: flex;
    align-items: center;
    padding: 5px 30px;
    color: var(--primary-color);
}
.add-modal__time-input {
    font-size: 18px;
    color: var(--primary-color);
    margin: 0px 8px;
    border-radius: var(--border-radius);
    border: 2px solid var(--primary-color);
    width: fit-content;
    padding: 2px 8px;
    background-color: var(--white-color)
}

.js-time-begin {
    margin: 0px 10px;
}

.add-modal__priority-select {
    font-size: 16px;
}

.add-modal__input {
    width: 100%;
    padding: 5px;
    border: 2px solid var(--primary-color);
    border-radius: var(--border-radius);
}

.add-modal__button {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.js-button-submit {
    opacity: 1;
    pointer-events: auto;
}

.label-edit {
    display: none;
}
.label-submit-edit .label-edit {
    display: block;
}

.label-submit-edit .label-add {
    display: none;
}

.dialog-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.dialog-container.open {
    display: flex;
}

.dialog-wrapper {
    background: var(--white-color);
    width: 30%;
    position: relative;
    border-radius: var(--border-radius);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    animation: slideIn ease 0.8s;
}
.dialog-body {
    padding: 15px;
}

.dialog-message {
    text-align: center;
    color: var(--primary-color);
    font-weight: 600;
    font-size: 15px;
    padding-bottom: 15px;
}

.dialog-header {
    background-color: var(--primary-color);
    color: var(--white-color);
    font-weight: 600;
    padding: 10px 0px;
    text-align: center;
    font-size: 20px;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: var(--border-radius);
}
.dialog-message__clear-all {
    display: none;
}

.dialog-clear-all .dialog-message__clear-all {
    display: block;
}

.dialog-clear-all .dialog-message__delete {
    display: none;
}

.notification-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.notification-container .open {
    display: flex;
}

.notifi-body {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button.notifi-btn {
    width: 100%;
}