* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.mobile-screen {
    width: 100%;
    margin: auto;
    background-color: #EFF2F9;
    height: 1000px;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
}

.main {
    padding: 30px 20px;
}

.nav-icon {
    color: #5F8DA5;
    display: inline-block;
    font-size: 24px;
}

.pd-section {
    padding: 20px 0px;
}

/* header */
#home-header .header-nav {
    display: flex;
    justify-content: flex-start;
}

#home-header .header-icon {
    background-color: #fff;
    border-radius: 15px;
    padding: 10px;
}

#home-header .date-text {
    color: #5F8DA5;
    font-weight: 600;
    margin: auto;
}

#home-header .btn {
    border:none;
    background-color: #EFF2F9;
}

/* content */
/* statistic */
#home-content .statistic-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.statistic-list + .statistic-list {
    padding-top: 10px;
}

#home-content .statistic-item {
    border-radius: 15px;
    padding: 24px 20px;
    width: 48%;
    animation: increase ease-in 0.4s forwards;
}

#home-content .statistic-block {
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-flow: row;
}

#home-content .statistic-icon {
    font-size: 24px;
    padding-right: 10px;
}
#home-content .statistic-number {
    font-size: 24px;
    font-weight: 600;
}

#home-content .statistic-completed {
    background-color: #33b3b3;
}

#home-content .statistic-pending {
    background-color: #ff8800;
}

#home-content .statistic-canceled {
    background-color: #ff0000;
}

#home-content .statistic-ongoing {
    background-color: #3fadd8;
}

#home-content .statistic-name {
    color: #B4C6E3;
    font-size: 14px;
}

/* tasks */
#home-content .home-task {
    animation: slideDiagonal ease-in 0.4s forwards;
}
#home-content .tasks-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

#home-content .tasks-header,
#chart .chart-title,
#task .task-title {
    color: #5F8DA5;
}

#home-content .tasks-view-all-btn {
    text-decoration: none;
    color: #4382ca;
    font-weight: 600;
}

#home-content .tasks-item {
    color: #5F8DA5;
    list-style: none;
    display: flex;
    padding: 15px 0px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
#home-content .task-circle-icon {
    font-size: 24px;
}

#home-content .task-name {
    display: flex;
    justify-content: space-between;
    width: calc(100% - 40px);
    margin: auto;
    margin-left: 10px;  
}

#home.hide {
    display: none;
}
/* footer */
#footer {
    display: block;
    
}
#footer .foot-nav {
    justify-content: center;
    display: flex;
    position: fixed;
    width: 100%;
    background-color: #EFF2F9;
    bottom: 0px;
    height: 112px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 20px 0px;
    z-index: 9999999;
}

#footer .nav-list {
    width: calc(calc(100% - 116px)/2); 
    display: flex;
    justify-content: space-around;
}
#footer .nav-list li {
    list-style: none;
    display: inline-block; 
    height: 70px;
}

#footer .add-icon {
    font-size: 70px;
    color: #4382ca;
    margin: auto;
}

#footer .foot-icon {
    padding-top: 10px;
}
#footer .foot-btn {
    width: 60px;
    height: 60px;
    margin: auto;
    background-color: #EFF2F9;
    border: none;
}
#footer .foot-btn:hover {
    border-bottom: 6px solid #4382ca;
}

#footer .foot-btn:hover .foot-icon {
    color: #4382ca;
}

/* CHART */
#chart {
    display: none;
}

#chart.open {
    display: block;
}

#chart .chart-header {
    transform: translateY(0px);
    animation: slideUp .5s ease-in-out forwards;
}

#chart .chart-note {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    padding-bottom: 10px;
    animation: slideIn ease 0.5s forwards;
}
#chart .circle-icon {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    content: "";
}
#chart .low-icon {
    background-color: #ff8800;
}

#chart .medium-icon {
    background-color: #3fadd8;
}

#chart .high-icon {
    background-color: #ff0000;
}

#chart .chart-content {
    padding: 5px;
}
#chart .chart-number {
    padding: 5px 0px; 
}

#chart .chart-number-5 {
    display: flex;
    flex-flow: row;
}
#chart .note-icon {
    color: rgb(158, 158, 158);
    padding-left: 15px;
    font-size: 12px;
}

#chart .chart-label-col {
    color: rgb(158, 158, 158);
    font-size: 12px;
    font-weight: 600;
}
#chart .chart-info {
    color: rgb(158, 158, 158);
    padding-top: 8px;
    font-size: 14px;
}

#chart .chart-layout {
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid #5F8DA5;
    height: 200px;  
    margin-top: 15px;
    animation: slideIn ease 0.5s forwards;
}
  
#chart .chart-item-section {
    display: flex;
    justify-content: space-around;
    padding: 10px 0px;
    height: 150px;
}
#chart .chart-item {
    width: 25px;
    height: var(--percent);
    background-color: #80c6e2;
    align-self: flex-end;
    border-radius: 5px;
    text-align: center;
    animation: growth ease 0.5s forwards 0.3s;
}

#chart .chart-date-section {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}

#chart .chart-date {
    color: rgb(158, 158, 158);
    font-size: 12px;
    font-weight: 600;
}

/* person */
#person {
    display: none;
}

#person.open {
    display: block;
}
#person .info-sign {
    display: flex;
    justify-content: row;
    padding: 20px;
    width: 100%;
    background-color: #fff;
    animation: slideDown 0.3s ease forwards;
}

#person .info-img {
    width: 50px;
}

#person .info-full {
    margin: auto;
    margin-left: 10px;
    color: #5F8DA5;
}

#person .person-content {
    display: flex;
    flex-flow: column;
}

#person .text-finish-percent{
    text-align: center;
    font-size: 30px;
    padding-bottom: 40px;
    font-weight: 600;
}

#person .circle-percent {
    margin: auto;
    position: relative;
}
#myCanvas {
    animation: slideUp ease-in 0.3s forwards;
}

#person .text-finish-number {
    position: absolute;
    text-align: center;
    top: 80px;
    left: 0;
    right: 0;
}

#person .fire-icon {
    color: #ff0000;
    font-size: 40px;
}

#person .finish-number {
    font-size: 40px;
    padding-top: 20px;
    font-weight: 600;
}

#person .text-note {
    font-size: 20px;
    padding-top: 10px;
}

#person .view-detail-btn {
    border: none;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    width: 150px;
    color: #5F8DA5;
    margin: auto;
    font-weight: 600;
    animation: slideUp 0.3s ease-in forwards;
}

/* TASK */
#task {
    display: none;
}

#task.open {
    display: block;
}

#task .calendar-week {
    display: flex;
    flex-flow: row;
    text-transform: uppercase;
    justify-content: space-around;
    text-align: center;
    animation: slideDown ease-in 0.4s forwards;
}

#task .day-btn {
    text-transform: uppercase;
    border: none;
    background-color: #fff;
    padding: 10px;
    color: rgb(158, 158, 158);
    font-weight: 600;
    border-radius: 10px;
}

#task .work-time-section {
    display: flex;
    flex-flow: row;
}

#task .work {
    background-color: #fff;
    border-left: 6px solid #5F8DA5;
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    margin-left:20px;
    animation: slideUp ease-in 0.4s forwards;
}

#task .work-priority {
    text-transform: uppercase;
    background-color: #a8ebeb;
    color:#33b3b3;
    font-size: 12px;
    width: fit-content;
    font-weight: 600;
    margin-bottom: 10px;
}

#task .work-status {
    color:rgb(158, 158, 158);
    font-size: 12px;
    font-weight: 600;
    padding-top: 15px;
}
@keyframes increase {
    from {
        opacity: 0;
        width: 0%;            
    }    
    to {
        opacity: 1;
        width: 48%;   
    }
}

@keyframes growth {
    from {
        opacity: 0;
        height: calc(var(--percent) - 50%);
    }
    to {
        opacity: 1;
        height: var(--percent);
    }
}

@keyframes slideIn {
    0% {
        transform: translateX(300px) scale(.2);
    }
    100% {
        transform: translateX(0px) scale(1);
    }
}

@keyframes slideDown {
    0% {
      transform: translateY(-200px);
    }
    100% {
      transform: translateY(0px);
    }
}

@keyframes slideUp {
    0% {
      transform: translateY(200px);
    }
    100% {
      transform: translateY(0px);
    }
}

@keyframes slideDiagonal {
    0% {
        transform: translateX(200px) translateY(200px);
    }
    100% {
        transform: translateX(0px) translateY(0px);
    }
}
